@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
main {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(76, 76, 76);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  max-width: 550px;
  margin: 20px;
  height: auto;
  max-height: calc(100% - 50px);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  border-radius: 2px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.all {
  border-bottom: 1px solid rgb(235, 232, 232);
  line-height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.all .icon {
  cursor: pointer;
  user-select: none;
  color: rgb(163, 163, 163);
  width: 20px;
  display: flex;
  justify-content: flex-end;
}

.all .icon.moveIcon {
  cursor: move;
}

.all input[type='text'] {
  border: none;
  width: 100%;
  line-height: 35px;
  margin: 0;
  font-style: italic;
  outline: none;
}

.all > .descriptions {
  width: 100%;
}

.all .icon:hover {
  color: rgb(38, 37, 37);
}

button.all {
  width: 100%;
  border: none;
  background-color: rgb(246, 246, 246);
  color: rgb(155, 151, 151);
  user-select: none;
  cursor: pointer;
  align-items: center;
}

.editing > .deleteIcon {
  display: block !important;
}

li.all > .deleteIcon {
  display: none;
}

.editing > span {
  display: none;
}

.editing > .moveIcon {
  display: none;
}

.editing {
  background-color: rgb(255, 255, 232);
}

.editing > input[type='text'] {
  display: block !important;
  width: 100%;
  background-color: rgb(255, 255, 232);
  line-height: 35px;
  height: 40px;
  font-style: normal;
}

li.all > input[type='text'] {
  display: none;
}

.completed {
  color: rgb(163, 163, 163);
  text-decoration: line-through;
}
